{% extends "layout.html" %}

{% block content %}

<div>
    <div class="ball_preview">
        <p id="ball_name">Название: {{ BallName }}</p>
        <p id="ball_ideology">Идеология: {{ BallIdeology }}</p>
        <p id="ball_ideology">Правление: {{ BallGovtype }}</p>
        <p id="ball_ideology">Валюта: {{ BallMoney }}</p>
        <img src="{{ BallFlag }}" height="150" title="{{ BallName }}" class="flag_image" />
    </div>

    <div class="ball_constructor">
        <form method="post" id="gen_form">
            <input type="submit" name="Generate" value="Сгенерировать">
        </form>
    </div>
</div>
{% endblock %}